:root {
	--clr--moss-green: #4e5b3f;
	--clr--grass-green: #79981f;
	--clr--mint-green: #e7f2ec;
	--clr--golden-yellow: #e6c40e;
	--clr--light-yellow: #fff253;
	--clr--almost-black: #060533;
	--clr--ripe-plum: #2e1065;
	--clr--gradient: linear-gradient(to bottom, #aadc19, #0f1d00);
	--sizes-logo-size: 6rem;
	--size-border: 0.2rem;
	--size-border-radius: 0.5rem;
	font-family: 'Comic Sans MS', fantasy, serif;
	font-size: 20px;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

button, input, textarea {
	font-family: inherit;
	font-size: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--clr--mint-green);
	color: var(--clr--moss-green);
}

#skip-to-main-link {
	clip-path: inset(0);
	color: transparent;
	display: block;
	font-size: 1px;
	height: 1px;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 1px;
	z-index: -1;
}

#skip-to-main-link:focus {
	background-color: white;
	clip-path: none;
	color: currentColor;
	font-size: 1rem;
	height: auto;
	opacity: 1;
	padding: 0.5rem;
	pointer-events: auto;
	width: auto;
	z-index: 1;
}

nav {
	align-items: center;
	background-color: white;
	border-bottom: var(--clr--grass-green) var(--size-border) solid;
	display: flex;
	justify-content: space-between;
	padding-inline: 1rem;
}

a:has(img) {
	height: calc(var(--sizes-logo-size) * 0.5);
	width: var(--sizes-logo-size);
}

nav ul {
	display: flex;
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a { color: var(--clr--moss-green); }

button {
	background: transparent;
	border: currentColor var(--size-border) solid;
	border-radius: var(--size-border-radius);
	color: var(--clr--moss-green);
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: var(--clr--moss-green);
		color: white;
	}

	&:focus {
		background-color: var(--clr--golden-yellow);
		border-color: transparent;
		color: var(--clr--almost-black);
		outline: var(--clr--golden-yellow) var(--size-border) solid;
		outline-offset: var(--size-border);
	}

	&:active {
		background-color: var(--clr--almost-black);
		border-color: transparent;
		color: var(--clr--golden-yellow);
		outline: var(--clr--almost-black) var(--size-border) solid;
		outline-offset: var(--size-border);
	}
}

#main {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-block-start: calc(var(--sizes-logo-size) * 0.5 + 1rem);
	text-align: center;
}

#main img { width: 14rem; }

#main h1 {
	background: var(--clr--gradient);
	-webkit-background-clip: text;
	color: transparent;
}

#main p {
	color: var(--clr--grass-green);
	margin: 0;
}

#main .cta {
	border: var(--clr--moss-green) var(--size-border) solid;
	border-radius: var(--size-border-radius);
	color: var(--clr--moss-green);
	display: inline-block;
	margin: 1rem;
	padding: 0.2rem 0.5rem;
	text-decoration: none;
}

#main .cta:hover {
	background-color: var(--clr--moss-green);
	color: white;
	text-decoration: underline;
}

#main .cta:focus {
	background-color: var(--clr--golden-yellow);
	border-color: transparent;
	color: var(--clr--almost-black);
	outline: var(--clr--golden-yellow) var(--size-border) solid;
	outline-offset: var(--size-border);
	text-decoration: underline;
}

#unicorns-list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	padding: 1rem;

	& .unicorn-card {
		border: var(--clr--moss-green) var(--size-border) solid;
		border-radius: var(--size-border-radius);
		max-width: 10rem;
		padding: 0.5rem;
		text-align: center;

		& img {
			aspect-ratio: 1 / 1;
			border-radius: var(--size-border-radius);
			height: auto;
			object-fit: cover;
			width: 100%;
		}
	}
}

#unicorn-details[open] {
	background-color: var(--clr--mint-green);
	border: var(--clr--moss-green) var(--size-border) solid;
	border-radius: var(--size-border-radius);
	display: grid;
	gap: 1rem;
	grid-template-areas:
		'header header'
		'img info'
		'img description'
		'footer footer';
	grid-template-columns: 10rem 1fr;
	grid-template-rows: 3rem 1fr 1fr 3rem;
	justify-content: center;
	max-height: 85vh;
	max-width: 85vw;
	padding: 0;

	&::backdrop {
		backdrop-filter: blur(0.5rem);
		background-color: rgba(0, 0, 0, 0.5);
	}

	& header {
		align-items: center;
		background-color: white;
		border-bottom: var(--clr--moss-green) var(--size-border) solid;
		display: flex;
		grid-area: header;
		justify-content: space-between;
		padding-inline: 1rem;

		& h2 { margin: 0; }
	}

	& img {
		aspect-ratio: 1 / 1;
		border-radius: var(--size-border-radius);
		grid-area: img;
		height: auto;
		object-fit: cover;
		width: 100%;
	}

	& section {
		grid-area: info;

		& dl :is(dt, dd) {
			display: inline;
			margin: 0;
		}

		& dt {
			color: var(--clr--ripe-plum);
			font-weight: bold;
		}
	}

	& article { grid-area: description; }

	& footer {
		grid-area: footer;
		text-align: center;
	}
}
