:root {
	--clr--moss-green: #4E5B3F;
	--clr--grass-green: #79981F;
	--clr--mint-green: #E7F2EC;
	--clr--golden-yellow: #E6C40E;
	--clr--light-yellow: #FFF253;
	--clr--almost-black: #060533;
	--clr--ripe-plum: #2E1065;
	--clr--gradient: linear-gradient(to bottom, #AADC19, #0F1D00);

	--sizes-logo-size: 6rem;
	--size-border: 0.2rem;
	--size-border-radius: 0.5rem;

	font-family: 'Comic Sans MS', fantasy, serif;
	font-size: 20px;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: inherit;
}

button, input, textarea {
	font-family: inherit;
	font-size: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: var(--clr--mint-green);
	color: var(--clr--moss-green);
}

#skip-to-main-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 1px;
	width: 1px;
	font-size: 1px;
	color: transparent;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	display: block;
	text-align: center;
	clip-path: inset(0);
}

#skip-to-main-link:focus {
	z-index: 1;
	width: auto;
	height: auto;
	font-size: 1rem;
	color: currentColor;
	opacity: 1;
	padding: 0.5rem;
	pointer-events: auto;
	background-color: white;
	clip-path: none;
}

nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--clr--grass-green) var(--size-border) solid;
	padding-inline: 1rem;
}

a:has(img) {
	width: var(--sizes-logo-size);
	height: calc(var(--sizes-logo-size) * 0.5);
}

nav ul {
	display: flex;
	list-style: none;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

nav a {
	color: var(--clr--moss-green);
}

button {
	border: currentColor var(--size-border) solid;
	border-radius: var(--size-border-radius);
	background: transparent;
	color: var(--clr--moss-green);
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: var(--clr--moss-green);
		color: white;
	}

	&:focus {
		outline: var(--clr--golden-yellow) var(--size-border) solid;
		outline-offset: var(--size-border);
		background-color: var(--clr--golden-yellow);
		color: var(--clr--almost-black);
		border-color: transparent;
	}

	&:active {
		outline: var(--clr--almost-black) var(--size-border) solid;
		outline-offset: var(--size-border);
		background-color: var(--clr--almost-black);
		color: var(--clr--golden-yellow);
		border-color: transparent;
	}
}

#main {
	display: flex;
	padding-block-start: calc((var(--sizes-logo-size) * 0.5) + 1rem);
	text-align: center;
	justify-content: center;
	align-items: center;
}

#main img {
	width: 14rem;
}

#main h1 {
	background: var(--clr--gradient);
	-webkit-background-clip: text;
	color: transparent;
}

#main p {
	margin: 0;
	color: var(--clr--grass-green);
}

#main .cta {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border: var(--clr--moss-green) var(--size-border) solid;
	text-decoration: none;
	color: var(--clr--moss-green);
	margin: 1rem;
	border-radius: var(--size-border-radius);
}

#main .cta:hover {
	background-color: var(--clr--moss-green);
	color: white;
	text-decoration: underline;
}

#main .cta:focus {
	outline: var(--clr--golden-yellow) var(--size-border) solid;
	outline-offset: var(--size-border);
	background-color: var(--clr--golden-yellow);
	color: var(--clr--almost-black);
	text-decoration: underline;
	border-color: transparent;
}

#unicorns-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;

	& .unicorn-card {
		max-width: 10rem;
		text-align: center;
		padding: 0.5rem;
		border: var(--clr--moss-green) var(--size-border) solid;
		border-radius: var(--size-border-radius);

		& img {
			width: 100%;
			height: auto;
			aspect-ratio: 1 / 1;
			object-fit: cover;

			border-radius: var(--size-border-radius);
		}
	}
}

#unicorn-details[open] {
	max-width: 85vw;
	max-height: 85vh;
	background-color: var(--clr--mint-green);
	border: var(--clr--moss-green) var(--size-border) solid;
	border-radius: var(--size-border-radius);
	padding: 0;

	display: grid;
	grid-template-columns: 10rem 1fr;
	grid-template-rows: 3rem 1fr 1fr 3rem;
	grid-template-areas:
		'header header'
		'img info'
		'img description'
		'footer footer'
	;
	gap: 1rem;
	justify-content: center;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(0.5rem);
	}

	& header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: 1rem;
		background-color: white;
		border-bottom: var(--clr--moss-green) var(--size-border) solid;

		& h2 {
			margin: 0;
		}
	}

	& img {
		grid-area: img;
		width: 100%;
		height: auto;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		border-radius: var(--size-border-radius);
	}

	& section {
		grid-area: info;

		& dl :is(dt, dd) {
			display: inline;
			margin: 0;
		}

		& dt {
			font-weight: bold;
			color: var(--clr--ripe-plum);
		}
	}

	& article {
		grid-area: description;
	}

	& footer {
		grid-area: footer;
		text-align: center;
	}
}
